@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@531&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* #FEFCFB */
    background: #ffffff;
    font-size: 62.5%;
    font-family: 'Exo 2', sans-serif;
}
li{
    list-style: none;
}
a{  
    color: #000000;
    text-decoration: none;
}

/* NAV */
.main-head{
    background: #f0f0f0;
    color: #000000;
}

nav{
    min-height: 10vh;
    font-size: 1.3rem;
    display: flex;
    width: 90%;
    margin: auto;
    padding: 2rem;
    align-items: center;
    flex-wrap: wrap;
}
nav ul{
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
}
#logo{
    flex: 2 1 40rem; 
    justify-content: center;
}
nav a{
    color: #3b3b3b;
    transition: .1s ease-in-out;
}
nav a:hover{
    color: #1488cb;
}
.active{
    color: #1488cb;
}

/* main Section */
.materials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.materials h2{
    padding: 2.6rem;
    font-size: 3rem;
}
.playlist{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: lighter;
    padding: 2rem;
    width: 15rem;
    margin: 2rem 1rem;
    height: 10rem;
    border-radius: 0.5rem;
    transition: .2s ease-in;
    flex-wrap: wrap;
}
.playlist-1{
    background: #16425B;
}
.playlist-2{
    background: #e24b4b;
}

.playlist-3{
    background: #9fee6b;
}
.playlist-4{
    background: #25E4B4;
}
.playlist-5{
    background: #2578e4;
}
.material a{
    color: white;
}
.playlist-6{
    color: white;
    background: #25cee4;
}
.material-5 a{
    color: white;
}

.material-1{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
    margin: 2rem;
}
.material-1 h3{
    color: white;
}
.material{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
    display: flex;
    margin: 2rem;
}
.material-5{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
    margin: 2rem;
}
.material-6{
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
    margin: 2rem;
}
.sem-title{
    padding: 2rem;
}
.sem-title a{
    font-size: 2rem;
    color: #ffffff;
}
.sem-title a:hover{
    color: #000000;
}
.mat-link{
    font-size: 2rem;
    background: #b28af3;
    padding: 2rem 4rem;
    margin: 1rem;
    border-radius: 0.2rem;
}
.mat-link:hover{
  box-shadow: 6px 5px 20px rgba(0, 0, 0, 0.253);
}

/* PopUp Modal */
.overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: black;
    border-radius: 5px;
    width: 40rem;
    height: 20rem;
    position: relative;
    text-align: start;
  }

  .overlay .popup .close {
    position: absolute;
    top: -10px;
    right: 10px;
    transition: all 200ms;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close {
    padding: 1rem;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
      overflow: hidden;
  }
  .popup .content ul li{
    color: black;
    padding: 0.5rem 0rem;
  }
  .popup .content ul li a{
    font-size: 1.3rem;
    color: black;
  padding: 0.5rem 0rem;
}
  .popup .content ul li a:hover{
    color: brown;
  }
  .material .overlay a{
      margin: 1rem;
      font-size: 1.2rem;
      color: black;
  }
  .accordion-toggle {
    display: flex;
    transition: .5s ease-in-out;
  }
  
  .accordion-content {
    display: none;
    transition: .5s ease-in-out;
  }
  
  .accordion-content.active {
    display: grid;
    transition: .5s ease-in-out;
  }

/* FOOTER */
footer .auths{
    padding: 1rem 0rem;
    font-size: 1.5rem;    
}
.foot-main .attr a{
    margin: 4rem 0 0 0;
    display: flex;
    align-items: flex-end;
    font-size: 1rem;
}
.auths a{
    font-size: 1.5rem;
    color: #5f59b9;
    transition: color .3s ease-in-out;
}
.auths a:hover{
    color: #449da0;
}
  footer{
    min-height: 30vh;  
    background: #f1f1f1;
  }
  
  .footer-container{
    width: 60%;
    margin: auto;
    padding: 3rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
  }
  .footer-container p{
      padding: 0.8rem 0;
      font-size: 1.5rem;
      color: #f65e7d;
  }
  .left-col a{
      font-size: 1rem;
      color: #8464ed;
  }
  .logo{
    width: 180px;
  }
  
  .social-media{
    margin: 20px 0;
  }
  
  .social-media a{
    color: #2e2e2e;
    margin-right: 25px;
    font-size: 2rem;
    text-decoration: none;
    transition: .3s linear;
  }
  
  .social-media a:hover{
    color: #fc5c65;
  }
  
  .right-col h1{
    color: #4e4e4e;
    font-size: 26px;
  }
  
  .border{
    width: 100px;
    height: 4px;
    background: #fc5c65;
  }
  
  .page-content{
    min-height: 100vh;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-container p{
      font-size: 1.2rem;
  }

  

/* Media QUERY */
@media screen and (max-width: 1500px){
  nav {
      padding: 0.5rem;
      text-align: center;
  }
  #logo {
      padding: 2rem;
  }
  .materials h2{
      padding-top: 8rem;
  }
  .material{
      grid-template-columns: repeat(2, 1fr);
  }
  .popup{        
      height: 30rem;
      width: 22rem;
    }
    .overlay .popup .close {
      top: -30px;
      right: -10px;
    }  
  .popup .content ul li {
      text-align: center;
      margin-bottom: 1rem;
      font-size: 1rem;
  }
  .material-5{
      grid-template-columns: repeat(4, 1fr);
  }
  .material-6{
      grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 932px){
    nav {
        padding: 0.5rem;
        text-align: center;
    }
    #logo {
        padding: 2rem;
    }
    .materials h2{
        padding-top: 8rem;
    }
    .material{
        grid-template-columns: repeat(1, 1fr);
    }
    .popup{        
        height: 30rem;
        width: 22rem;
      }
      .overlay .popup .close {
        top: -30px;
        right: -10px;
      }  
    .popup .content ul li {
        text-align: center;
        margin-bottom: 1rem;
        font-size: 1rem;
    }
    .material-5{
        grid-template-columns: repeat(1, 1fr);
    }
    .material-6{
        grid-template-columns: repeat(1, 1fr);
    }
}
