@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@531&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* #FEFCFB */
    background: #ffffff;
    font-size: 62.5%;
    font-family: 'Exo 2', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

/* NAV */
.main-head{
    background: #f0f0f0;
    color: #000000;
    position: sticky;
}

nav{
    min-height: 10vh;
    font-size: 1rem;
    display: flex;
    width: 90%;
    margin: auto;
    padding: 2rem;
    align-items: center;
    flex-wrap: wrap;
}
nav ul{
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
}
#logo{
    flex: 2 1 40rem; 
    justify-content: center;
}
nav a{
    color: #3b3b3b;
    transition: .1s ease-in-out;
}
nav a:hover{
    color: #1488cb;
}
.active{
    color: #1488cb;
}

/* main Section */
.materials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.materials h2{
    padding: 2.6rem;
    font-size: 3rem;
}
.playlist{
    background: #ff7171;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: lighter;
    padding: 2rem;
    width: 15rem;
    margin: 2rem 1rem;
    height: 10rem;
    border-radius: 0.5rem;
    box-shadow: 6px 5px 20px rgba(0, 0, 0, 0.137);
    transition: .2s ease-in;
    flex-wrap: wrap;
}
.playlist-1{
    background: #16425B;
}
.playlist-3{
    background: #A59BE9;
}
.playlist-4{
    background: #25E4B4;
}
.material a{
    color: white;
}
.material{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
    margin: 2rem;
}
.sem-title{
    font-size: 2rem;
    color: #3085e6;
}

/* PopUp Modal */
.overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 5px;
    width: 40rem;
    height: 20rem;
    position: relative;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 7rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {  
      overflow: hidden;
  }
  .material .overlay a{
      margin: 1rem;
      font-size: 1.2rem;
      color: black;
  }
  .material .overlay ul li{
      text-decoration: underline;
      margin-bottom: 1rem;
  }
  .material .overlay ul li a:hover{
      color: brown;
  }

  .accordion-toggle {
    display: flex;
    transition: .5s ease-in-out;
  }
  
  .accordion-content {
    display: none;
    transition: .5s ease-in-out;
  }
  
  .accordion-content.active {
    display: grid;
    transition: .5s ease-in-out;
  }

/* Media QUERY */
@media screen and (max-width: 932px){
    nav {
        padding: 0.5rem;
        text-align: center;
    }
    #logo {
        padding: 2rem;
    }
    .material{
        grid-template-columns: repeat(1, 1fr);
    }
    .popup{        
        height: 30rem;
        width: 20rem;
      }
    .popup .content ul li {
        text-align: center;
        margin-bottom: 1rem;
        font-size: 1rem;
    }
}



